@namespace BootstrapBlazor.Components


<div @ref="GeolocationElement">
	@if (ShowButtons)
	{
		if (WatchID == null)
		{
			<Button OnClick="@GetLocation">@GetLocationButtonText</Button>
			<Button OnClick="@WatchPosition">@WatchPositionButtonText</Button>
		}
		else
		{
			<Button OnClick="@ClearWatch">@ClearWatchPositionButtonText</Button>
		}
	}
</div>

